<div
  class="flex w-fit flex-col gap-3 rounded-md border-2 border-black p-4"
  [class.has-header]="hasHeader()">
  <div class="flex h-[200px] items-center justify-center">
    <ng-content select="[card-img]" />
  </div>

  <ng-content select="[card-header]" />

  <section class="flex flex-col">
    @if (rowTpl; as row) {
      @for (item of list(); track $index) {
        <ng-container
          *ngTemplateOutlet="row; context: rowContext(item, $index)" />
      }
    }
  </section>

  <button
    #addButton
    class="add-button rounded-sm border border-blue-500 bg-blue-300 p-2"
    (click)="addItem.emit()">
    Add
  </button>
</div>
