<div
  class="flex w-fit flex-col gap-3 rounded-md border-2 border-black p-4"
  [class]="customClass()"
  [class.has-header]="cardHeader()"
>
  <ng-content select="img" />
  <ng-content select="[card-header]"></ng-content> 

  <section>
    @for (item of list(); track item; let i = $index) {
      <ng-container
        *ngTemplateOutlet="
          rowTpl();
          context: { $implicit: item, index: i }
        "
      ></ng-container>
    }
  </section>

  <button
    #addButton
    class="rounded-sm border border-blue-500 bg-blue-300 p-2"
    (click)="onAddItem()">
    Add
  </button>
</div>