<div
  class="card flex w-fit flex-col gap-3 rounded-md border-2 border-black p-4">
  <ng-content select="[card-image]"></ng-content>
  <div class="card-header" [class.has-header]="cardHeader">
    <ng-content select="[card-header]"></ng-content>
  </div>
  <section>
    @for (item of list(); track item; let i = $index) {
      <ng-container *ngTemplateOutlet="rowTpl; context: { $implicit: item, index: i }"></ng-container>
    }
  </section>

  <button
    #addButton
    class="rounded-sm border border-blue-500 bg-blue-300 p-2"
    (click)="onAddItem()">
    Add
  </button>
</div>
